<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bedu.sharelove">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"

        android:supportsRtl="true"
        android:theme="@style/Theme.ShareLove">
        <activity
            android:name=".NavigatDrawer"
            android:screenOrientation="locked"
            android:exported="true"
            android:label="@string/title_activity_navigat_drawer"

            android:theme="@style/Theme.ShareLove.NoActionBar" />
        <activity
            android:name=".Perfil"
            android:screenOrientation="locked"
            android:exported="true"
            android:label="@string/title_activity_perfil"
            android:theme="@style/Theme.ShareLove.NoActionBar" />
        <activity
            android:name=".Seleccionar"
            android:screenOrientation="locked"
            android:theme="@style/Theme.ShareLove2" />
        <activity
            android:name=".Compartiendo"
            android:screenOrientation="locked"
            android:theme="@style/Theme.ShareLove2" />
        <activity
            android:name=".Comida"
            android:screenOrientation="locked"
            android:theme="@style/Theme.ShareLove2" />
        <activity
            android:name=".Articulos"
            android:screenOrientation="locked"
            android:theme="@style/Theme.ShareLove2" />
        <activity android:name=".RecuperarContrasena"
            android:screenOrientation="locked"/>
        <activity android:name=".VistaPrincipal"
            android:screenOrientation="locked"/>
        <activity android:name=".CrearCuenta"
            android:screenOrientation="locked"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>